/* styles.css */

/* Gaya umum untuk semua perangkat */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('bg.jpg');
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* CSS untuk membuat gambar menempel di atas */
.header {
  position: ; /* Posisi tetap */
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh; /* Tinggi header setinggi viewport */
  background: url('atas\ \(1\).png') no-repeat center center/cover; /* Ganti 'path/to/your/image.jpg' dengan path gambar Anda */
  z-index: 1; /* Memastikan gambar berada di belakang konten lainnya */
}
.awal {
  background-image: url('orang.png');
  background-size: cover;
  width: 52%;
  height: 10vh;
  top: 15px;
  position: relative;
}
.container {
  width: 100%;
  height: 60vh;
 
  margin-bottom: 100px;
  
}
.input-container {
  position: relative;
  margin-top: 5px;
  width: 100%; /* Adjust the width as needed */
  
}

.input-container .icon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
}

.input-container input {
  width: 95%;
  height: 9vh;
  padding: 10px 10px 10px 40px; /* Adjust padding to fit the icon */
  border: 2px solid #3E81F4; /* Adjust border color as needed */
  border-radius: 7px; /* Adjust border radius as needed */
  box-sizing: border-box; /* Ensure padding and border are included in width calculation */
  background-color: #f0f0f0;
  box-shadow: 1px 3px 8px rgb(153, 153, 153);
 
}

.input-container-two {
  position: relative;
  margin-top: 10px;
  width: 100%; /* Adjust the width as needed */
}

.input-container-two .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
}

.input-container-two input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Adjust padding to fit the icon */
  border: 1px solid #ccc; /* Adjust border color as needed */
  border-radius: 4px; /* Adjust border radius as needed */
  box-sizing: border-box; /* Ensure padding and border are included in width calculation */
}
label {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.image-container {
  width: 80%; /* Adjust the size as needed */
  * Adjust the size as needed */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.image-container-two {
  width: 80%; /* Adjust the size as needed */
  overflow: hidden;
  margin-top: 20px;
}

.image-container-two img {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.btn {
  background-color: #3E81F4;
  color: white;
  border: none;
  padding: 10px 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: white;
}
